.menu_underline {
  display: inline-block;
  color: #fed8a7;
  text-decoration: none;
}

.menu_underline::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  margin-left: 6px;
  background: #fed8a7;
  transition: width 0.3s;
  border-radius: 5px;
}

.menu_underline:hover::after {
  width: calc(100% - 12px); /* Adjust width to account for padding */
  /* Align with the text inside */
  transition: width 0.3s;
}

.menu_active::after {
  content: '';
  display: block;
  width: calc(100% - 12px); /* Adjust width to account for padding */
  height: 2px;
  background: #fff;
  margin-left: 6px; /* Align with the text inside */
  border-radius: 5px;
}

.mega_menu_underline {
  display: inline-block;
}

.mega_menu_underline::after {
  content: '';
  display: block;
  width: calc(100% - 24px); /* Adjusted width */
  height: 2px;
  margin: 12px 6px; /* Adjusted margin */
  background-color: #2a283c;
  background-image: linear-gradient(to right, #fed8a7 0%, #fed8a7 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
  border-radius: 5px;
}

.mega_menu_parent:hover .mega_menu_underline::after {
  background-size: 100% 100%;
}
